﻿*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family:  Arial, Helvetica,  sans-serif;
    font-size: 17px;
    color:#926239;
    line-height:1.6;

}

#showcase{
    background-image:url('../img/showcase.jpg');
    background-size: cover;
    background-position:center;
    height:100vh;
}